<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820124118381-1phb69u85b9uici1hd6bs6obi5ot1asv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820124118381-1phb69u85b9uici1hd6bs6obi5ot1asv</string>
	<key>API_KEY</key>
	<string>AIzaSyAkOI8yQNFHNJ5jjeeLAcO5O26y0VuiFvU</string>
	<key>GCM_SENDER_ID</key>
	<string>820124118381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medheal</string>
	<key>PROJECT_ID</key>
	<string>medheal-1d980</string>
	<key>STORAGE_BUCKET</key>
	<string>medheal-1d980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820124118381:ios:345899da9271fc0a467e64</string>
</dict>
</plist>